/**
 * Site header
 */
.site-header {
  // border-top: 5px solid $grey-color-dark;
  // border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 2;
  // Positioning context for the mobile navigation icon
  position: fixed;
  background: #00000000;
  z-index: 1000;
  padding-top: 20px;
  width: 100%;
  transition: padding 0.3s ease-out, background 0.3s ease-out;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: right;

  &,
  &:visited {
    color: $grey-color-light;
  }
}

.site-nav {
  line-height: $base-line-height * $base-font-size * 2;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    padding: 20px;
    min-height: $base-line-height * $base-font-size * 2;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      background: #fe2c2c;
      text-decoration: none;
    }
  }

  .site-social {
    float: right;

    .social_nav {
      padding: 5px 10px;

      .svg-icon {
        padding: 0;
        fill: #ffffff;
        width: 32px;
        height: 32px;

        use {
          transform: scale(1.5);
        }
      }

      &:hover svg {
        fill: #fe2c2c;
      }
    }
  }
  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}
/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width: calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width: calc(40% - (#{$spacing-unit} / 2));
}
@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}
@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}
/**
 * Page content
 */
.page-content {
  padding: $spacing-unit*0 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);
    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);
    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);
    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
/**
 *
 * ███    ███ ██    ██  ██████ ███████ ██      ██ ██    ██ ███    ███     ██████   █████  ██████  ████████     ███████ ████████ ██    ██ ███████ ███████
 * ████  ████  ██  ██  ██      ██      ██      ██ ██    ██ ████  ████     ██   ██ ██   ██ ██   ██    ██        ██         ██    ██    ██ ██      ██
 * ██ ████ ██   ████   ██      █████   ██      ██ ██    ██ ██ ████ ██     ██████  ███████ ██████     ██        ███████    ██    ██    ██ █████   █████
 * ██  ██  ██    ██    ██      ██      ██      ██ ██    ██ ██  ██  ██     ██      ██   ██ ██   ██    ██             ██    ██    ██    ██ ██      ██
 * ██      ██    ██     ██████ ███████ ███████ ██  ██████  ██      ██     ██      ██   ██ ██   ██    ██        ███████    ██     ██████  ██      ██
 */
span.lore {
  padding: 2px 5px;
  background: linear-gradient(to right, #323232, #545454);
  border-radius: 5px;
  color: #ffffff;
}

span.warninglore {
  padding: 2px 5px;
  background: linear-gradient(to right, #93032e, #bb2552);
  border-radius: 5px;
  color: #ffffff;
}

.mycelium.post-list-heading {
  @include relative-font-size(1.75);
  padding-top: 50px;
}

.mycelium.post-list {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  height: 300px;
  padding: 50px 0;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    flex-shrink: 1;
    background: #563535;
    width: 45%;
    padding: 1%;
    transition: transform 0.3s ease-out, background 0.3s ease-out;
    transform: scale(1);

    &:last-child {
      margin-left: 3%;
    }

    &:not(:last-child) {
      margin-right: 3%;
    }

    &:hover {
      transform: scale(1.02);
      background: $grey-color;

      a {
        color: #ffffff;
      }

      > div {
        > p {
          height: 100px;
        }
      }

      .post-meta {
        color: $text-color;
      }
    }

    > div {
      flex-grow: 3;
      width: 100%;

      > p {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-out;
      }

      img {
        width: 100%;
      }
    }
  }
}

.mycelium.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.mycelium.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.stuffyoucando {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;

  > .stuff {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-size: cover;
    background-origin: content-box;
    background-position: center;
    background-clip: content-box;
    background-repeat: no-repeat;
    filter: grayscale(0.8);
    @include min-relative-to-window-height(0.7);
  }

  > .can {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    @include min-relative-to-window-height(0.3);

    &:nth-child(3n) {
      background: linear-gradient(217deg, #93032e, #93032e00 80%), linear-gradient(127deg, #bb2552, #bb255200 80%), linear-gradient(336deg, #86213f, #86213f00 80%);
      // background: linear-gradient(90deg, transparent 20%, #93032e, transparent 80%);
      // background: #93032e;
    }

    &:nth-child(3n + 2) {
      background: linear-gradient(217deg, #f3752b, #f3752b00 80%), linear-gradient(127deg, #f06e22, #f06e2200 80%), linear-gradient(336deg, #f0a579, #f0a57900 80%);
      // background: linear-gradient(90deg, transparent 20%,#f3752b, transparent 80%);
      // background: #f3752b;
    }

    &:nth-child(3n + 1) {
      background: linear-gradient(217deg, #88e94c, #88e94c00 80%), linear-gradient(127deg, #65cd24, #65cd2400 80%), linear-gradient(336deg, #a3de7e, #a3de7e00 80%);
      // background: linear-gradient(90deg, transparent 20%,#e9b44c, transparent 80%);
      // background: #e9b44c;
    }

    p {
      display: block;
      flex-grow: 1;
      text-align: justify;
      vertical-align: middle;
      margin: 0;
      @include relative-font-size(1.20);
    }
  }

  .tab {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 300px;
    background: linear-gradient(to left, #1da1f2, #7289DA);

    .left {
      flex-grow: 1;
      padding: 10% 2%;
      text-align: right;
    }

    .right {
      flex-grow: 1;
      padding: 10% 2%;
      text-align: left;
    }
  }

  .myceliumtitlepagethingheader {
    min-height: $screen-height;
    display: flex;
    align-items: center;

    div {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
    }

    h1 {
      flex-grow: 5;
      font-family: "Open Sans";
      font-weight: 800;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      color: #ffffff;
      @include relative-font-size(5.00);
    }

    p {
      flex-grow: 1;
    }
  }
}